<style>
    .admin-panel{
        padding: 50px 180px;
    }
    /* #newAdmin{
        padding: 0 10px 0 0;
    } */
    .btn-default{
        margin: 0 5px;
    }
</style>

<div ng-controller="adminController">
    <wikipage data-content="asideHtmlContent" data-content-url="contentUrl">

    </wikipage>

    <div class="admin-panel">
        <article class="cl pd-20">
            <div class="form-group" ng-if="true">
                <label>管理员用户名: </label>    
                <input type="text" placeholder="请输入用户名" ng-model="$parent.searchByName">    
                <button class="btn btn-default" ng-click="search()"> 查  询 </button> 
                <button class="btn btn-default" ng-click="add()" id="newAdmin">新建管理员账号</button>
            </div>
            <table class="table table-border table-bordered table-bg">
                <thead>
                    <!--
                    <tr>
                        <th colspan="9" scope="col">管理员账户</th>
                    </tr>
                    -->
                    <tr class="text-c">
                        <th>账户ID</th>
                        <th>账户名</th>
                        <th>邮箱</th>
                        <th>手机号</th>
                        <th>角色类型</th>
                        <th>权限</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>修改时间</th>
                        <th ng-if="true">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-c" ng-repeat="x in admin_list">
                        <td>{{x.admin_id}}</td>
                        <td>{{x.name}}</td>
                        <td>{{x.email}}</td>
                        <td>{{x.cellphone}}</td>
                        <td>{{x.role_id}}</td>
                        <td>{{x.authority}}</td>
                        <td>{{x.status}}</td>
                        <td>{{x.create_time}}</td>
                        <td>{{x.update_time}}</td>
                        <td ng-if="true">
                            <button class="btn-prime" ng-click="modify()">修改信息</button>
                            <button class="btn-prime" ng-click="disable(x.admin_id, x.status)">{{x.status == 1 ? "禁用" : "启用"}}</button>
                            <button class="btn-prime" ng-click="remove(x.admin_id)">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>
